@tailwind base;
@tailwind components;
@tailwind utilities;

.text-dark{
    color: #000000 ;
}

.bg-dark{
    background-color: #000000;
}

.overflow-x-auto::-webkit-scrollbar {
    height: 10px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
  }